* {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
.active>a>span:hover{

    color: white;
    
}
.active>a:hover{
    background-color: #3A559F;
    border-radius: 20px;
}
.separate{
    width: 70px;
    height: 3px;
    background-color: green;
    display: block;
}
.design {
    display: flex;
    justify-content: center;
  }